<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="twitter:card" content="{card}" />
  <meta name="twitter:site" content="@NearSocial_">
  <meta property="og:title" content="{title}" />
  <meta property="og:description" content="{description}" />
  <meta property="og:image" content="{image}">
  <meta property="og:type" content="website">
  <meta http-equiv="refresh" content="1; URL={url}" />
</head>
<body>
<script>
  window.location.replace("{url}");
</script>
</body>
</html>
